<div class="container px-lg-2">
    <div class="row row-1">
      <div class="my-4 font-weight-bold mx-3 card-title">Lesson Details</div>
  </div>
    <!--Text-->
    <div class="row row-2">
    <div style="color:#C3C323;" class="card-text"> <i class="fa fa-clock mx-3" style="color:#C3C323"></i>Lesson Start Time:</div>
    
  </div>
  <div class="row row-3">
    <div style="color:#C3C323;" class="card-text"> <i class="fa fa-user mx-3" style="color:#C3C323;"></i>Lesson Taker:</div>
  </div>
  <div class="row row-4 "></div>
  <div style="color:#C3C323;"> <i class="fa fa-book mr-3" style="color:#C3C323;"></i>Lesson Name: </div>
  <div class="row row-5">
      <div style="color:#C3C323;" ><i class="fa fa-calendar mx-3" style="color:#C3C323;"></i> Lesson Date: </div>
    </div>
  <div class="row row-6 mx-1">
    <div class="font-weight-bold flex-center" style="color:#C3C323;">Lesson Start In: </div>
  </div>
  <div class="row row-7">
      <div class="col-lg-3">

      </div>
      <div class="col-lg-1">

    </div>
      <div class="col-lg-1">
        <button class="btn btn-success btn-circle"><i class="fa fa-phone px-md-2"></i></button>      
    </div>
    
  </div>
</div>
